<section class="bg-primary" id="download">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">This is exactly what you need!</h2>
                <hr class="light">
                <p class="text-faded">CrunchyGIF integrates seemlessly into your screen shotting workflow! Drag your video. Wait a bit. Drop your video. Done!</p>
                <p>
                    <img src="/img/crunchy_demo.gif"/>
                </p>
                <a href="https://apps.apple.com/us/app/crunchygif-ezpz-video-to-gif/id1485165995?ls=1&mt=12" class="btn btn-default btn-xl">Download now! It's free <i class="fa fa-1x fa-download wow bounceIn" data-wow-delay=".1s"></i></a>
            </div>
        </div>
    </div>
</section>
