<section class="bg-primary" id="download">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">This is exactly what you need!</h2>
                <hr class="light">
                <p class="text-faded">CrunchyGIF integrates seemlessly into your screen shotting workflow! Drag your video. Wait a bit. Drop your video. Done!</p>
                <a href="#" class="btn btn-default btn-xl">Download now! It's free :)</a>
            </div>
        </div>
    </div>
</section>
