<header>
    <div class="header-content">
        <div class="header-content-inner">
            <img class="btn btn-custom btn-logo" src="/img/logo.png">
            <h1>Ezpz video to GIF creator</h1>
            <hr>
            <p>CrunchyGIF is the easiest way to create GIFs from video files! Just drag your video or screen recording into CrunchyGIF and wait a little bit for your GIF to be created.</p>
            <a href="https://apps.apple.com/us/app/crunchygif-ezpz-video-to-gif/id1485165995?ls=1&mt=12" class="btn btn-primary btn-xl page-scroll">Download from App Store <i class="fa fa-1x fa-download wow bounceIn" data-wow-delay=".1s"></i></a>
        </div>
    </div>
</header>
