<section id="open-source"  class="bg-dark">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Open Source on GitHub <i class="fa fa-2x fa-github wow bounceIn" data-wow-delay=".1s"></i></h2>
                <hr class="primary">
                <a target="_blank" href="https://github.com/joshdholtz/crunchygif" class="btn btn-default btn-xl wow tada">See the codey goodness!</a>
            </div>
        </div>
    </div>
</section>